body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #000;
}

.order__information {
  margin: 0 auto;
  width: 1060px;
  box-sizing: content-box;
}

.order__number {
  margin-top: 70px;
  color: #73798c;
}

.order__status {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.order__status p {
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
}

.order__address {
  margin-top: 31px;
  padding-top: 9px;
  border-top: 2px solid #73798c;
}

.order__buttons {
  margin: 0 auto;
  width: 1060px;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

a {
  display: block;
  font-family: "Nunito", sans-serif;
  width: 160px;
  height: 48px;
  border: hidden;
  border-radius: 1000px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
}

.button__orange {
  width: 190px;
  color: #fff;
  background-color: #f96900;
}

.button__light {
  color: #d15700;
  background-color: #fff0e6;
}
